@import 'src/sass/colors';
@mixin card-default {
  nb-card {
    height: 100%;
    margin: 0;
  }

  nb-card-header {
    position: relative;

    & .nb-card-header-icon {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

@mixin step-placeholder {
  .card-step-placeholder {
    background-color: $background-disabled;

    & .wrapper-step-placeholder {
      align-items: center;
      display: grid;
      justify-items: center;
      height: 100%;
      width: 100%;
    }
  }
}
