<nb-card>
  <nb-card-header>
    <h6>Solve</h6>
    <p class="subtitle-2">
      Solve the captcha below.
    </p>
    <nb-icon status="primary" class="nb-card-header-icon" icon="eye-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <img class="img-captcha" src="assets/images/captcha.jfif" alt="The captcha" />
    <form class="form-generate">
      <div class="form-item">
        <label class="label">Answer</label>
        <input type="text" nbInput fullWidth />
        <div *ngIf="false">
          <label class="label text-danger">Invalid captcha answer</label>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button fullWidth nbButton>Submit Answer</button>
  </nb-card-footer>
</nb-card>
