@import 'src/sass/utils';

.form-generate {
  display: grid;
  grid-template-columns: 1fr;
}

.form-item {
  display: grid;
}

.container {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  margin-bottom: 10px;
  @media screen and(max-width: 850px) {
    grid-template-columns: 1fr 1fr;
    & nb-card:last-child {
      grid-column: 1/-1;
    }
  }

  @media screen and(max-width:600px) {
    grid-template-columns: 1fr;
  }
}

.img-captcha {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 3px;
}

.container-credential:not(:last-child) {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

nb-card-header {
  position: relative;
}

.nb-card-header-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
