@import '../overview-mixins';
@include card-default();

a {
  text-decoration: none;
}

nb-card-body {
  display: grid;
  grid-template-rows: 1fr 1fr;

  align-items: center;
}

.container-credential {
  position: relative;

  button {
    position: absolute;
    right: -10px;
    top: 10px;
  }
}
